{% extends 'core/base.html' %}
{% load static %}
{% load query_transform %}
{% block content %}

<!-- Filter options -->
<style>
        body {
            text-align: center;
        }
        table {
            width: 90%; /* Set table width to 90% of the page */
            border-collapse: collapse; /* Collapse borders */
            margin: 20px auto; /* Center the table */
            border-top: 3px solid #fd595a; /* Top border color */
            border-bottom: 3px solid #fd595a; /* Bottom border color */
        }
        th, td {
            padding: 10px; /* Add padding to cells */
            border-bottom: 1px solid #fd595a; /* Bottom border color for each cell */
        }
        th {
            background-color: #fd595a; /* Header background color */
            color: white; /* Header text color */
        }
        form {
            margin: 20px;
        }
        input, select, button {
            padding: 8px 15px;
            margin-right: 10px;
            border: 1px solid black;
            border-radius: 3px;
            font-size: 16px;
        }
        button, .button { /* Aplicar estilos similares a botones y enlaces con clase 'button' */
            background-color: #fd595a;
            color: white;
            cursor: pointer;
        }
        button:hover, .button:hover {
            background-color: #e05353; /* Un poco más oscuro cuando se hace hover */
        }
        .button { /* Estilos específicos para enlaces que actúan como botones */
            text-decoration: none;
            display: inline-block;
            padding: 8px 15px;
        }
</style>
</head>
<body>
    {% if user.is_authenticated and user.is_superuser %}
    
    <h1>Historial de Fotos</h1>
    
    <!-- Filter options -->
    <form action="{% url 'home' %}" method="GET">
        <select name="filter" id="filter">
            <option value="">Todas</option>
            <option value="recent">De nuevas a viejas</option>
            <option value="oldest">De viejas a nuevas</option>
        </select>
        <select name="photoType" id="photoType">
            <option value="">Todos los tipos</option>
            <option value="Remisión" {% if request.GET.photoType == "Remisión" %}selected{% endif %}>Remisión</option>
            <option value="Pesajes" {% if request.GET.photoType == "Pesajes" %}selected{% endif %}>Pesajes</option>
            <option value="Descargue" {% if request.GET.photoType == "Descargue" %}selected{% endif %}>Descargue</option>
            <option value="Puntos de acopio" {% if request.GET.photoType == "Puntos de acopio" %}selected{% endif %}>Puntos de acopio</option>
        </select>
        <input type="number" name="consecutive_number" placeholder="Número de consecutivo" value="{{ request.GET.consecutive_number }}">
        <input type="text" name="name" placeholder="Nombre" value="{{ request.GET.name }}">
        <input type="date" name="date_from" placeholder="Desde" value="{{ request.GET.date_from }}">
        <input type="date" name="date_to" placeholder="Hasta" value="{{ request.GET.date_to }}">
        <input type="text" name="punto_acopio" placeholder="Punto de acopio" value="{{ request.GET.punto_acopio }}">
        <select name="materialType" id="materialType">
            <option value="">Todos los materiales</option>
            <option value="Botellas de Amor" {% if request.GET.materialType == "Botellas de Amor" %}selected{% endif %}>Botellas de Amor</option>
            <option value="Otros Materiales" {% if request.GET.materialType == "Otros Materiales" %}selected{% endif %}>Otros Materiales</option>
        </select>
        <br>
        <br>

        <button type="submit">Filtrar</button>
        <a href="{% url 'home' %}" class="button">Resetear</a>
    </form>

    <!-- Table to display photo uploads -->
   
    {% if grouped_photos %}
    <table border="1">
        <thead>
            <tr>
                <th>Consecutivo</th>
                <th>Nombre</th>
                <th>Fecha</th>
                <th>Ubicación</th>
                <th>Tipo de Foto</th>
                <th>Punto de Acopio</th>
                <th>Peso</th>
                <th>Ver Imagen</th>
            </tr>
        </thead>
        <tbody>
            {% for consecutive_number, photos in grouped_photos.items %}
                {% for photo in photos %}
                <tr>
                    {% if forloop.first %}
                    <td rowspan="{{ photos|length }}">{{ consecutive_number }}</td>
                    {% endif %}
                    <td>{{ photo.name }}</td>
                    <td>{{ photo.date }}</td>
                    <td>{{ photo.place }}</td>
                    <td>{{ photo.get_photoType_display }}</td>
                    <td>{{ photo.punto_acopio }}</td>
                    <td>{{ photo.weight }}</td>
                    <td><a href="{{ photo.image.url }}" target="_blank">Ver</a></td>
                </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'download_excel_report' %}?{% query_transform request.GET %}" class="button">Descargar Reporte</a> <!-- Botón de descarga -->
    {% else %}
    <br>
    <p>No hay resultados con esos filtros.</p>
    {% endif %}
    {% elif user.is_authenticated %}
        <div style="text-align: center;">
            <h1>Bienvenidos a Botellas de Amor</h1>
            <br>
            <br>
            <a href="{% url 'addform' %}" class="button">Subir Foto</a>
        </div>
    {% else %}
    <h1>Bienvenidos a Botellas de Amor</h1>
    <br>
    <br>
    <h3> Por favor inicie sesión</h3>
    <br>
    <a href="{% url 'login' %}" class="button">Iniciar sesión</a>
    {% endif %}

    <script>
      document.addEventListener("DOMContentLoaded", function (event) {
        function getLocation() {
          if (navigator.geolocation) {
            // Solicitar la ubicación con alta precisión
            navigator.geolocation.getCurrentPosition(showPosition, showError, {
              maximumAge: 60000, // Aceptar una posición almacenada hace hasta 60 segundos
              timeout: 15000, // Esperar hasta 15 segundos para obtener una posición
              enableHighAccuracy: true, // Solicitar la precisión más alta posible
            });
          } else {
            alert("Geolocation is not supported by this browser.");
          }
        }

        function showPosition(position) {
          document.getElementById("latitude").value = position.coords.latitude;
          document.getElementById("longitude").value = position.coords.longitude;
          console.log(
            "Location accuracy: " + position.coords.accuracy + " meters."
          );
        }

        function showError(error) {
          switch (error.code) {
            case error.PERMISSION_DENIED:
              console.log("User denied the request for Geolocation.");
              alert("Please enable location services and try again.");
              break;
            case error.POSITION_UNAVAILABLE:
              console.log("Location information is unavailable.");
              alert("Location information is unavailable. Please try again.");
              break;
            case error.TIMEOUT:
              console.log("The request to get user location timed out.");
              alert("Location request timed out. Please try again.");
              break;
            case error.UNKNOWN_ERROR:
              console.log("An unknown error occurred.");
              alert("An unknown error occurred with geolocation.");
              break;
          }
        }

        getLocation();

        const photoTypeSelect = document.getElementById("photoType");
        const weightField = document.getElementById("weightField");
        const puntoAcopioField = document.getElementById("puntoAcopioField");

        function toggleFields() {
          const selectedType = photoTypeSelect.value;
          if (selectedType === "Pesajes") {
            weightField.style.display = "block";
            puntoAcopioField.style.display = "none";
          } else if (selectedType === "Puntos de acopio") {
            puntoAcopioField.style.display = "block";
            weightField.style.display = "none";
          } else {
            weightField.style.display = "none";
            puntoAcopioField.style.display = "none";
          }
        }

        photoTypeSelect.addEventListener("change", toggleFields);
        toggleFields(); // Inicializa el estado al cargar la página
      });
    </script>

</body>
{% endblock %}
