{% extends 'core/base.html' %}
{% load static %}
{% block content %}
    
<!-- Filter options -->
<style>
        body{
            text-align: center;
        }
        table {
            width: 90%; /* Set table width to 90% of the page */
            border-collapse: collapse; /* Collapse borders */
            margin: 20px auto; /* Center the table */
            border-top: 3px solid #fd595a; /* Top border color */
            border-bottom: 3px solid #fd595a; /* Bottom border color */
        }
        th, td {
            padding: 10px; /* Add padding to cells */
            border-bottom: 1px solid #fd595a; /* Bottom border color for each cell */
        }
        th {
            background-color: #fd595a; /* Header background color */
            color: white; /* Header text color */
        }
        form {
        margin: 20px;
        }
        input, select, button {
            padding: 8px 15px;
            margin-right: 10px;
            border: 1px solid black; 
            border-radius: 3px;
            font-size: 16px;
        }
        button, .button { /* Aplicar estilos similares a botones y enlaces con clase 'button' */
            background-color: #fd595a;
            color: white;
            cursor: pointer;
        }
        button:hover, .button:hover {
            background-color: #e05353; /* Un poco más oscuro cuando se hace hover */
        }
        .button { /* Estilos específicos para enlaces que actúan como botones */
            text-decoration: none;
            display: inline-block;
            padding: 8px 15px;
        }
    </style>
</head>
<body>
    {% if user.is_authenticated and user.is_superuser %}
    
    <h1>Historial de Fotos</h1>
    
    <!-- Filter options -->
    <form action="{% url 'home' %}" method="GET">
        <label for="filter">Filtros:</label>
        <select name="filter" id="filter">
            <option value="">Todas</option>
            <option value="recent">De nuevas a viejas</option>
            <option value="oldest">De viejas a nuevas</option>
        </select>
        <select name="photoType" id="photoType">
            <option value="">Todos los tipos</option>
            <option value="Recolección" {% if request.GET.photoType == "Recolección" %}selected{% endif %}>Recolección</option>
            <option value="Descarga" {% if request.GET.photoType == "Descarga" %}selected{% endif %}>Descarga</option>
            <option value="Camion Basura" {% if request.GET.photoType == "Camion Basura" %}selected{% endif %}>Camión De Basura</option>
        </select>
        <input type="text" name="name" placeholder="Buscar por nombre" value="{{ request.GET.name }}">
        <input type="date" name="date_from" placeholder="Desde" value="{{ request.GET.date_from }}">
        <input type="date" name="date_to" placeholder="Hasta" value="{{ request.GET.date_to }}">
        <button type="submit">Filtrar</button>
        <a href="{% url 'home' %}" class="button">Resetear</a>
    </form>

    <!-- Table to display photo uploads -->
   
    {% if photo_uploads %}
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Location</th>
                <th>Photo Type</th>
                <th>View Image</th>
            </tr>
        </thead>
        <tbody>
            {% for photo in photo_uploads %}
            <tr>
                <td>{{ photo.name }}</td>
                <td>{{ photo.date }}</td>
                <td>{{ photo.place }}</td>
                <td>{{ photo.get_photoType_display }}</td>
                <td><a href="{{ photo.image.url }}" target="_blank">View</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <br>
    <p>No hay resultados con esos filtros.</p>
    {% endif %}
    {% elif user.is_authenticated %}
        <div style="text-align: center;">
            <h1>Bienvenidos a Botellas de Amor</h1>
            <br>
            <br>
            <a href="{% url 'addform' %}" class="button">Subir Foto</a>
        </div>
    {% else %}
    <h1>Bienvenidos a Botellas de Amor</h1>
    <br>
    <br>
    <h3> Por favor inicie sesión</h3>
    <br>
    <a href="{% url 'login' %}" class="button">Iniciar sesión</a>
    {% endif %}

</body>
{% endblock %}