{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="grid-container">
    <div class="grid-item">
        <div class="LOGO-LOGIN">
            <img width="500" height="500"  src="{% static 'images/LOGO.png' %}" alt="Botellas de Amor" decoding="async">
        </div>
    </div>
    <div class="grid-item">
        <div class="login">
            <h1 class="heading">Iniciar Sesion </h1>
            <p class="text" >Por favor introduzca su correo y contraseña.</p>
            <br>
            <br>
            <br>
            
            <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                {% if form.errors %}
                <div class="alert alert-danger">
                    <strong>Error:</strong> {{ form.errors }}
                </div>
                {% endif %}
                <div class="input-field-registro"><input type="email" name="email" id="inputEmail" placeholder="E-mail" required autofocus> </div>
                <div class="input-field-registro"><input type="password" name="password1" id="inputPassword1" placeholder="Contraseña" required autofocus></div>
                
                <br>
                <button class="btn-registro" type="submit">ENTRA</button>
            </form>
            <br>
            <div class="hyperv">
                <p>Todavía no tienes cuenta? <a href="{% url 'registro' %}" > Crea tu cuenta Aquí </a></p>
            </div>
            
            </div>
    </div>
    <!-- Add more grid items here if needed -->
</div>

{% endblock %}