{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="registro-salida">
  <div class="fotosubir">
    <h1 class="heading">Añadir Foto</h1>
    <p class="text">
      Por favor, llene los siguientes campos para añadir su foto.
    </p>
    <br />
    <br />
    <br />
    <form
      method="POST"
      action="{% url 'addform' %}"
      enctype="multipart/form-data"
    >
      {% csrf_token %}
      {% if form.errors %}
      <div class="alert alert-danger">
        <strong>Error:</strong> {{ form.errors }}
      </div>
      {% endif %}
      <input type="hidden" id="latitude" name="latitude" />
      <input type="hidden" id="longitude" name="longitude" />

      <div class="input-field">
        <p>Ingrese el número de consecutivo</p>
        {{ form.consecutive_number }}
      </div>

      <div class="input-field">
        <p>Seleccione por favor la foto a subir</p>
        {{ form.image }}
      </div>

      <div class="input-field">
        <p>Seleccione el tipo de foto a subir</p>
        {{ form.photoType }}
      </div>

      <div class="input-field" id="weightField" style="display: none;">
        <p>Ingrese el peso</p>
        {{ form.weight }}
      </div>

      <div class="input-field" id="puntoAcopioField" style="display: none;">
        <p>Ingrese el punto de acopio</p>
        {{ form.punto_acopio }}
      </div>

      <div class="input-field">
        <p>Seleccione el tipo de material</p>
        {{ form.material_type }}
      </div>
      
      <button class="btn-registro" type="submit">Subir Foto</button>
    </form>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
    function getLocation() {
      if (navigator.geolocation) {
        // Solicitar la ubicación con alta precisión
        navigator.geolocation.getCurrentPosition(showPosition, showError, {
          maximumAge: 60000, // Aceptar una posición almacenada hace hasta 60 segundos
          timeout: 15000, // Esperar hasta 15 segundos para obtener una posición
          enableHighAccuracy: true, // Solicitar la precisión más alta posible
        });
      } else {
        alert("Geolocation is not supported by this browser.");
      }
    }

    function showPosition(position) {
      document.getElementById("latitude").value = position.coords.latitude;
      document.getElementById("longitude").value = position.coords.longitude;
      console.log(
        "Location accuracy: " + position.coords.accuracy + " meters."
      );
    }

    function showError(error) {
      switch (error.code) {
        case error.PERMISSION_DENIED:
          console.log("User denied the request for Geolocation.");
          alert("Please enable location services and try again.");
          break;
        case error.POSITION_UNAVAILABLE:
          console.log("Location information is unavailable.");
          alert("Location information is unavailable. Please try again.");
          break;
        case error.TIMEOUT:
          console.log("The request to get user location timed out.");
          alert("Location request timed out. Please try again.");
          break;
        case error.UNKNOWN_ERROR:
          console.log("An unknown error occurred.");
          alert("An unknown error occurred with geolocation.");
          break;
      }
    }

    getLocation();

    const photoTypeSelect = document.getElementById("id_photoType");
    const weightField = document.getElementById("weightField");
    const puntoAcopioField = document.getElementById("puntoAcopioField");

    function toggleFields() {
      const selectedType = photoTypeSelect.value;
      if (selectedType === "Pesajes") {
        weightField.style.display = "block";
        puntoAcopioField.style.display = "none";
      } else if (selectedType === "Puntos de acopio") {
        puntoAcopioField.style.display = "block";
        weightField.style.display = "none";
      } else {
        weightField.style.display = "none";
        puntoAcopioField.style.display = "none";
      }
    }

    photoTypeSelect.addEventListener("change", toggleFields);
    toggleFields(); // Inicializa el estado al cargar la página
  });
</script>

{% endblock %}
