{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="registro-salida">
    <div class="fotosubir">

        <h1 class="heading">Añadir Producto </h1>
        <p class="text" >Por favor, llene los siguientes campos para añadir su producto.</p>
        <br>
        <br>
        <br>
        <form method="POST" action="{% url 'addform' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {% if form.errors %}
            <div class="alert alert-danger">
                <strong>Error:</strong> {{ form.errors }}
            </div>
            {% endif %}
            <div class="input-field"><input type="text" id="name" name="name" required placeholder="Nombre de quien toma la foto"><br><br> </div>
            
            <p>Seleccione por favo la foto a subir</p>
            <!-- <div class="input-field"><input type="file" id="image" name="image" accept="image/*" required><br><br> </div> -->
            <!--  <div class="input-field"> -->
            <input type="file" id="image" name="image" accept="image/*" capture="environment" required>
            <!--            <br><br>-->
            <!--          </div>   La funcionalidad de capture está principalmente orientada a dispositivos móviles.-->
            <p>Seleccione el tipo de foto a subir</p>
            <select id="photoType" name="photoType" required>
                <option value="Recolección">Recolección</option>
                <option value="Descarga">Descarga</option>
                <option value="Camion Basura">Camion de Basura</option>
            </select><br><br>
            
            <button class="btn-registro" type="submit">Subir Foto</button>
        </form>
    </div>
</div
{% endblock %}