* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button,
input[type="number"] {
  -webkit-appearance: none;
}

body {
  background-color: white;
  height: 3000px;
  /*font-family: "EmpiricRoman", serif;*/
  padding-top: 60px;
  font-family: "Rubik", sans-serif;
}

.header {
  background-color: #fd595a;
  position: fixed;
  top: 0px;
  z-index: 10000;
  width: 100%;
}

.nav-container {
  display: flex;
  font-size: 18px;
  justify-content: space-between;
}

.main {
  margin-top: 80px;
}

.heading {
  color: black;
  font-size: 36px;
  margin-bottom: 24px;
  text-align: right;
}

.alert p {
  color: white;
  font-size: 19px;
  padding-top: 7px;
}

.text {
  line-height: 1.6;
  font-size: 16px;
  max-width: 1000px;
  margin: 0 auto;
}

.nav-items {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
}

.itemleft {
  left: 0;
  padding: 5px; /* Push the left item to the left */
}

.itemsright {
  right: 0; /* Add some spacing between items */
  padding: 5px;
}

/* Style the links inside the navigation bar */
.nav-items a {
  color: #f2f2f2;
  padding: 16px 16px;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.itemsright a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}
/* Change the color of links on hover */
.nav-items a {
  display: inline-block;
  position: relative;
}

.itemsright a {
  display: inline-block;
  position: relative;
}

.nav-items a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 30%;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.itemsright a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 20%;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.nav-items a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.itemsright a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Add a color to the active/current link */

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 700px;
  padding: 40px 20px 20px 20px;

  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.singup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 700px;
  padding: 40px 20px 20px 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.LOGO-LOGIN {
  padding: 60px 50px 40px 50px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
  gap: 20px; /* Gap between grid items */
  margin: 3% 15%;
}

.fotosubir {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%; /* Controla el ancho del formulario para que no sea demasiado ancho */
  margin: 40px auto; /* Centrado y con margen para separar del resto de contenido */
  padding: 20px;
  background-color: #fff; /* Fondo blanco para el formulario */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.input-field {
  width: 100%; /* Ajustar el ancho de los campos de entrada */
  display: flex;
  flex-direction: column;
  align-items: center; /* Alineación central de los inputs */
  margin-bottom: 20px; /* Espacio entre campos de entrada */
}

.input-field input[type="file"],
.input-field select {
  width: 100%; /* Ancho del input file y select */
  padding: 12px 10px; /* Padding para hacer el input más grande y fácil de interactuar */
  border-radius: 4px; /* Bordes redondeados para los inputs */
  border: 1px solid #ccc; /* Borde sutil */
  display: block; /* Asegurar que cada elemento ocupa su propia línea */
}

.btn-registro {
  width: 100%; /* El botón ocupa todo el ancho del contenedor .input-field para un aspecto uniforme */
  padding: 10px 20px;
  background-color: #fd595a;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.btn-registro:hover {
  background-color: #e05353; /* Efecto hover con un rojo más oscuro */
}

.input-field-registro input {
  position: relative;
  width: 555px;
  height: 52px;
  padding: 0 18px;
  border-radius: 5px;
  border: 1px solid gray;
}

.input-field-registro {
  position: relative;
  margin-top: 2px;
  margin-bottom: 40px;
}
